<div class="container">
    <div class="card mt-4">
        <form (ngSubmit)="register()"> 
        <div class="card-header bg-primary text-white display-4">
            Register Form
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="userName">User Name:*</label>
                <input 
                    type="text" 
                    class="form-control mx-2" 
                    placeholder="Enter user name" 
                    id="userName"
                    name="userName" 
                    [(ngModel)]="addUserData.username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input 
                    type="password" 
                    class="form-control mx-2" 
                    placeholder="Enter password" 
                    id="password"
                    name="password"
                    [(ngModel)]="addUserData.password">
            </div>
        </div>    
        <div class="card-footer">
            <button 
                type="submit" 
                class="btn btn-primary">Register</button>
        </div>
        </form>
    </div>
    </div>
    