<div class="container">
    <p class='display-4'>{{ title }}</p>
    <button 
        type='button' 
        class='btn btn-success my-2'
        (click)='showAddForm()'>+</button>

    <div *ngIf='showForm'>
        <form class="form-inline">
        
            <label for="productName">Product Name:</label>
            <input 
                type="text" 
                class="form-control mx-2" 
                placeholder="Enter product name" 
                id="productName"
                name="productName"
                [(ngModel)]="addProductData.productName">

            <label for="productCost">Product Cost:</label>
            <input 
                type="type" 
                class="form-control mx-2" 
                placeholder="Enter product cost" 
                id="productCost"
                name="productCost"
                [(ngModel)]="addProductData.productCost">

            <label for="productDescription">Product Description:</label>
            <input 
                type="type" 
                class="form-control mx-2" 
                placeholder="Enter product description" 
                id="productDescription"
                name="productDescription"
                [(ngModel)]="addProductData.productDescription">
        
            <label for="productImageUrl">Product Image URL:</label>
            <input 
                type="type" 
                class="form-control mx-2" 
                placeholder="Enter product image url" 
                id="productImageUrl"
                name="productImageUrl"
                [(ngModel)]="addProductData.productImageUrl">

            <button 
                type="button" 
                class="btn btn-primary"
                (click)="addProduct()">Add Product</button>
                
          </form>
    </div>
    <ul class="list-group mt-3">
        <li 
            class="list-group-item" 
            *ngFor="let product of allProducts">
            <div class='d-flex justify-content-between'>
                <div>
                    <img [src]="product.productImageUrl" width="10%"/>
                    {{ product.productName }} 
                </div>
                <div>
                    Rs. {{ product.productCost }}
                    <button 
                        type='button' 
                        class='btn btn-warning ml-3'
                        (click)='editProduct(product.productId)'>
                        Edit
                    </button>
                    <button 
                        type='button' 
                        class='btn btn-danger ml-3'
                        (click)='deleteProduct(product.productId)'>
                        Delete
                    </button>
                </div>

            </div>
            

        </li>
    </ul>
</div>
